/* width animation */

.animationCard {
  animation: animateWidthIncrease 1s;
  height: fit-content !important;
}

@keyframes animateWidthIncrease {
  from {
    transform: scaleX(var(--start, 1));
    max-height: 200px;
  }
  to {
    transform: scaleX(var(--end, 1.05));
    max-height: var(--max-height, 264px);
  }
}

.animationCardReturn {
  animation: animateWidthDecrease 1s;
}

@keyframes animateWidthDecrease {
  from {
    transform: scaleX(var(--end, 1.05));
    height: 394px;
  }
  to {
    transform: scaleX(var(--start, 1));
    height: 200px;
  }
}

/* Position animation */

.animateTopToBottom {
  animation: animateTopToBottomTransition 1s;
}

@keyframes animateTopToBottomTransition {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.animateBottomToTop {
  animation: animateBottomToBottomTransition 1s;
}

@keyframes animateBottomToBottomTransition {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Text animation */

.animationText {
  animation: animationText 1s;
  visibility: visible !important;
}

@keyframes animationText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
